html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    font-family: Arial;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3;
    color: #eeeeee;
    padding-top: 20px;
    background-color: #024890
}
main p{
    padding-top: 15px;
    font-weight: 200;
}
h1, h2, h3 {
    font-family: Georgia;
    font-weight: 700;
    letter-spacing: .25px;
    margin: 5px 0;
    color: #f5b706
}
a {
  color: #2092C4;
}
a:hover {
  text-decoration: none;
}

/* HEADER & NAV */
body > header {
    margin-bottom: 40px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 10px;
}
header h1 {
    padding-top: 12px;
}
h1 {
  line-height: 1.1;
}
h2 {
    text-align: center;
    border-bottom: 2px solid #f5b706;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 2px;

}
h3 {
    text-align: left;
    border-bottom: 2px solid #f5b706;
   
    margin-right: 50px;
    padding-bottom: 2px;
    font-family: Arial;
}
article {
    font-family: 'Franklin Gothic';
}
main h2 {
    font-family: Arial;
}
header {
    padding-left: 0px;
}
header p {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header img {
    height: 20%;
    width: 20%;
    float: left;
    padding-bottom: 10px;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  display: flex;
}
nav ul li {
  margin: 5px;
}
nav a {
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:20px;
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Franklin Gothic';
}
    nav a:hover {
        /*text-decoration: underline wavy #2092C4;*/
        color: #f5b706
    }

@media (min-width: 781px) {
  nav {
    width: 250px;
    float: right;
  }
  nav ul {
    justify-content: end;
  }
}
@media (max-width: 780px) {
  header {
    text-align: center;
  }
    nav ul {
        justify-content: center;
        margin-bottom: 20px;
        border-bottom: 2px solid #eeeeee;
    }
  nav a {
    padding: 20px;
  }
}
#wide {
    margin: auto;
    max-width: 700px;
    width: auto;
    height: auto;
}
/* MAIN */
main img {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
}


/* FOOTER */
footer {
    border-top: 2px solid white;
    margin-top: 20px;
    text-align: center;
}
footer img {
        display: block;
        margin: 0 auto;
        width: 30%;
        margin-bottom: 20px;
        padding: 20px;
    }  



/* BLOG */

.post {
    margin: 10px;
    margin-top: 30px;
    border-top: 2px solid #eeeeee;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 85px;
    padding-right: 50px;
}
/*
article:last-of-type {
  border: none;
  padding: 0;
}
    */
article header p,
time {
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
 
}
article header p {
   
}
article h2 {
  margin-bottom: 0;
}
article p {
    padding-top: 15px;
    font-weight: 200;
    font-family: Arial;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3;
    color: #eeeeee;
}


/* CONTACT */
form {
    padding: 30px 25px;
    border: 1px solid #e0dfdf;
    background: #eeeeee;
    color: black;
}
form h2 {
    color:black;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 22px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 0 15px;
}
input, textarea, button {
  width: 100%;
  border-radius: 4px;
}
input, textarea {
  margin: 5px 0 15px;
  height: 30px;
  border: 1px solid #e0dfdf;
  padding: 6px;
}
textarea {
  height: 100px;
}
button {
    font-weight: bold;
    background-color: #024890;
    color: white;
    font-size: 16px;
    height: 40px;
    border: none;
}
a {
    color: white;
}
a:hover {
    color: #f5b706;
    cursor: pointer; /* Changes the cursor to a hand icon */
}

.currentpage {
    background-color: #012f5e;
}

.navlogo {

}

.campus {
    border-radius: 30px;
    height: 60%;
    width: 60%;
}

blockquote {
    font-weight: bold;
    padding: 10px;
}