html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Franklin Gothic', Arial;
    font-size: 18px;
    line-height: 1.3;
    color: #eeeeee;
    padding-top: 40px;
    background-color: #024890
}
h1, h2, h3 {
    font-family: Georgia;
    margin: 5px 0;
    color: #f5b706
}
a {
  color: #2092C4;
}
a:hover {
  text-decoration: none;
}

/* HEADER & NAV */
body > header {
    margin-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}
h1 {
  line-height: 1.1;
}
header p {
    margin: 5px 0;
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin: 5px;
}
nav a {
    padding: 20px 0 40px 20px;
    text-decoration: none;
    color: #eeeeee;
}
    nav a:hover {
        /*text-decoration: underline wavy #2092C4;*/
        color: #f5b706
    }

@media (min-width: 781px) {
  nav {
    width: 250px;
    float: right;
  }
  nav ul {
    justify-content: end;
  }
}
@media (max-width: 780px) {
  header {
    text-align: center;
  }
    nav ul {
        justify-content: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
    }
  nav a {
    padding: 20px;
  }
}
div img {
    width: 80%;
}
/* MAIN */
main img {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
}


/* FOOTER */
footer {
  border-top: 1px solid white;
  margin-top: 50px;
}


/* BLOG */
article {
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d6d6;
  padding-bottom: 40px;
}
article:last-of-type {
  border: none;
  padding: 0;
}
article header p,
time {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
article h2 {
  margin-bottom: 0;
}


/* CONTACT */
form {
    padding: 30px 25px;
    border: 1px solid #e0dfdf;
    background: #eeeeee;
    color: black;
}
form h2 {
    color:black;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 22px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 0 15px;
}
input, textarea, button {
  width: 100%;
  border-radius: 4px;
}
input, textarea {
  margin: 5px 0 15px;
  height: 30px;
  border: 1px solid #e0dfdf;
  padding: 6px;
}
textarea {
  height: 100px;
}
button {
    font-weight: bold;
    background-color: #024890;
    color: white;
    font-size: 16px;
    height: 40px;
    border: none;
}
a {
    color: white;
}
a:hover {
    color: #f5b706;
    cursor: pointer; /* Changes the cursor to a hand icon */
}
